API_ID=21484575‎
API_HASH=db6286a041a873eb6c571df07ef4244e‎
BOT_TOKEN=7882219337:AAGdcE3l-9KDxpoUJcmUa9ttDHVtQB6lTyg
LOGGER_ID=-1007907656673
MONGO_DB_URI=mongodb+srv://Raghav23:Raghav23@cluster0.6nrx6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster
OWNER_ID=6502237398
STRING_SESSION=BQAf70YAlsT-b3BDXDOcG1tuTpfX37NYY_hNRGCjiojPI6qfog2a2qXEpshJS10uPXVXMbbkts4zCIyl0X8jqVx-WXZTc80fD0eRM7VqTnMYmOmwHEslVrA3BShPxupwCDazjOcT37f4wuKrLmDRCJLrug812r-ikJhtEiDxTrjdhVohXTF5e0Px7T8hJ_u9crhKjJ6zMW9XnwaexEQEJzh1TJIEtkwu1OX7FQ0MqwC_jllcwzcwZRBwI7hlrcKg-UyKNSKIifUPkqvJfYbXfwrwLee-rtnI4Yj_B_sTSjaqeyTU3i_TVIABqvLP5L3buZUhG4PGjZo-Ir5jI9N8FGwE1hQQAAAAGRiZIIAA
